

<%= form_for([@state, @city, @category, @subcategory, @posting])do |f| %>
  <% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>


  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.submit value:"Make Post" %>
  </p>
<% end %>
